body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-image: url('./bojack/bj.gif');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  height: 100vh; 
}

.todo-app {
  max-width: 400px;
  margin: 0 auto; 
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.add-todo-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-todo {
  display: flex;
  gap: 10px;
}

input[type='text'] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

ul {
  list-style-type: disc; /* Set the bullet type */
  padding-left: 20px; /* Indent the bullets */
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

li.completed span {
  text-decoration: line-through;
  color: #888;
}

li span {
  flex-grow: 1;
  margin-right: 10px;
}
